*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: Georgia, sans-serif;
  font-size: 18px;
}

main {
  min-height: 200vh;
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pets {
}

.pets__list {
  display: flex;
  gap: 20px;
  max-width: 400px;
  list-style: none;
}

.pets__item {
  display: flex;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.pets__item h5 {
  margin: 0;
  padding: 10px 20px;
  background: rgba(0, 0, 0, 0.5);
  font-size: 30px;
  color: #fff;
  position: absolute;
  bottom: 0;
}
.pets__item img {
  width: 100%;
}
